 html,
 body {
     height: 100% !important;
 }

 #main {
     position: relative;
     height: 365px;
 }

 .header {
     width: 100%;
     height: 300px;
 }

 #map {
     width: 100%;
     height: calc(100% - 300px - 365px);
 }

 .navBtn {
     position: absolute;
     right: 15px;
     top: -48px;
 }

 .navBtn img {
     width: 110px;
     height: 110px;
 }

 .mapInfo {
     border-top: solid 1px #ccc;
 }

 #map-png {
     width: 18px;
     height: 23px;
     margin: 2px 0 0 0;
 }

 #phone-png {
     width: 22px;
     height: 21px;
     margin: 6px 0 0 0;
 }

 #time-png {
     width: 21px;
     height: 20px;
     margin: 5px 0 0 0;
 }

 #fangge-png {
     width: 21px;
     height: 21px;
     margin: 5px 0 0 0;
 }

 #mian-png {
     width: 21px;
     height: 21px;
     margin: 5px 0 0 0;
 }

 #echars-png {
     width: 25px;
     height: 33px;
     margin: 9px 15px 9px 10px;
 }

 .listItem1 {
     margin: 30px 0 0 20px;
 }

 .listItem1 .title-fu {
     font-size: 24px;
     font-weight: 550;
     line-height: 45px;
     position: relative;
     text-indent: 1.5rem;
 }

 .title-fu::before {
     position: absolute;
     left: 8px;
     top: 12px;
     content: '';
     width: 7px;
     background-color: #00c5f7;
     height: 22px;
 }

 .listItem1 .title-main {
     font-size: 28px;
     font-weight: 600;
     line-height: 45px;
 }

 .listItem2 span {
     font-size: 24px;
     color: #8c8c8c;
 }

 .listItem4-map2 {
     width: 180px;
     height: 50px;
     border: solid #ddd 1px;
     margin: 30px 0 0 0 !important;
 }

 .listItem4-map2 span {
     color: #666;
     line-height: 50px;
     font-size: 24px;
 }

 .hen {
     line-height: 30px;
     margin: 0 10px;
 }


 #infoList li img {
     float: left;
 }

 #infoList .listItem p {
     float: left;
     font-size: 24px;
     line-height: 29px;
     margin-left: 15px;
     color: #666;
 }

 #infoList .listItem {
     margin: 10px 0 0 20px;
 }

 .time-p2 {
     padding-left: 20px;
 }

 #footer {
     margin-top: 25px;
     width: 100%;
     background-color: #0078d7;
     text-align: center;
     font-size: 26px;
     color: #fff;
     padding: 15px 0;
 }

 .mt20 {
     margin-top: 20px;
 }

 .btn-blue {
     border-radius: 5px;
 }

 .listItem6 a {
     float: left;
     font-size: 24px;
     line-height: 29px;
     margin-left: 15px;
     color: #666;
     text-decoration: underline;
 }
 /*modal*/

 .modal-content {
     background-color: #fff;
     width: 430px;
     height: 480px;
     margin: 40% auto;
 }

 .modal-txt h2 {
     font-size: 32px;
     line-height: 80px;
     text-align: center;
 }

 .modal-txt p {
     padding: 10px;
     font-size: 26px;
     color: #999;
     text-align: center;
 }

 